{% extends "master.twig" %}

{% block bodyclass %}body-features{% endblock %}

{% block content %}

    <section class="maininfo">
        <div class="maincolumn ">
            {% block directory_index %}
            {% endblock directory_index %}
        </div>
    </section>

{% endblock content %}

